.nav-bar {
    padding: 1rem 0.5rem;
    border-bottom: 1px solid #000;
    box-shadow: 1px 10px 10px rgba(0,0,0,.1);

    a {
        text-decoration: none;
        margin-right: 0.5rem;
        padding-left: 0.5rem;
        color: inherit;

        &:hover {
            color: #ff7f50
        }
    }
}