@use "../abstracts" as *;

body {
    margin: 0;
    //font-family: var(--ff-primary) sans-serif;
    font-family: sans-serif;
    background-color: var(--background-primary);
    color: var(--text-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
    line-height: 1.1;
}
